.intro{
  color: purple;
  font-family: cursive;
  font-size: 150%;
}

.about{
  color: green;
  font-size: 75%;
  text-align: right;
  width: 40%;
  margin-left: 60%;
}

.blog{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: grey;
  width: 50%;
  padding: 5px;
}
